@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<section>
    <div class="label" id="clock">SEIKO</div>
    <div class="hourhand" id="hour"></div>
    <div class="secondhand" id="sec"></div>
    <div class="minutehand" id="min"></div>
    <div class="hour12"></div>
    <div class="hour1"></div>
    <div class="hour2"></div>
    <div class="hour3"></div>
    <div class="hour4"></div>
    <div class="hour5"></div>

    <!--
    <div class="meas1"></div>
    <div class="meas2"></div>
    <div class="meas3"></div>
    <div class="meas4"></div>
    <div class="meas5"></div>
    <div class="meas6"></div>
    -->

</section>


<script>
    var t = setInterval(clockUpdate, 500);

function clockUpdate() {
var clockLabel = document.getElementById("clock");
    clockLabel.textContent = new Date().toLocaleTimeString('en-us', { timeZoneName: 'short' }).split(' ')[2]
    var now = new Date();

    var hrs = (now.getHours() % 12);
    var min = now.getMinutes();
    var sec = now.getSeconds();

    var hrAngle = (hrs / 12 * 360) + (min / 60 * 30) - 90;
    var localHr = document.getElementById('hour');
    localHr.setAttribute('style', 'transform: rotate(' + hrAngle + 'deg)');

    var minAngle = (min / 60 * 360) - 90;
    var localMin = document.getElementById('min');
    localMin.setAttribute('style', 'transform: rotate(' + minAngle + 'deg)');

    var secAngle = (sec / 60 * 360) - 90;
    var localSec = document.getElementById('sec');
    localSec.setAttribute('style', 'transform: rotate(' + secAngle + 'deg)');
    }
</script>

