@{
    ViewData["Title"] = "Home Page";
}

    <div class="row">
        <div class="col-md-3">
            <h2>
                <ul>
                    <li><a href="~/Home/BarGraph"><h3>Bar Graph</h3></a></li>
                    <li><a href="~/Home/CircularProgress"><h3>circular progress</h3></a></li>
                    <li><a href="~/Home/Timer"><h3>Timer</h3></a></li>
                    <li><a href="~/Home/Arc"><h3>Arc</h3></a></li>
                    <li><a href="~/Home/Clock"><h3>Clock</h3></a></li>
                    <li><a href="~/Home/Clock2"><h3>Clock2</h3></a></li>
                    <li><a href="~/Home/WristWatch"><h3>Watch</h3></a></li>
                </ul>
            </h2>
        </div>
    </div>
